#info_buttons {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 41.5rem;
}

.info_button {
    width: 20rem;
}

.info_button:hover {
    background-color: var(--hover-color);
}

#info_results {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 41.5rem;
    background-color: #CCC;
    overflow-y: scroll;
    color: #222;
}

.result {
    cursor: pointer;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
}

.result.marked {
    background-color: var(--info-odd);
}

.result:nth-child(even) {
    background-color: rgba(0,0,0,0.075);
}

.result.marked:nth-child(even) {
    background-color: var(--info-even);
}

.result_key {
    float: left;
    width: 20%;
}

.result_value {
    float: right;
    width: 78%;
}
