@import "./variables.css";

@import "./lib/toast.css";
@import "./modal.css";

@import "./lib/inputs/base.css";

@import "./pages/map/map.css";
@import "./pages/info/info.css";
@import "./pages/audio/audio.css";
@import "./pages/config/config.css";

*::-webkit-scrollbar {
    display: none;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

html {
    font-size: 10px;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: arial;
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
}

#dimmer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: black;
    opacity: 0;
}

.hidden {
    display: none !important;
}

#ui_scale {
    float: right;
    margin: 0.5rem;
    width: 10rem;
}

/**********************************************************
    TABS
**********************************************************/

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--main-header-height);
    z-index: var(--main-header-z);
    color: var(--main-header-font-color);
    background-color: var(--main-header-bg-color);
}

#tabs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.tab {
    float: left;
    height: var(--main-header-height);
    line-height: var(--main-header-height);
    box-sizing: border-box;
    padding: 0 2rem;
    opacity: 0.3;
    font-size: var(--font-large);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.tab.active {
    background-color: var(--container-header-bg);
    opacity: 1;
}



/**********************************************************
    CONTAINERS
**********************************************************/

#containers {
    position: absolute;
    top: var(--main-header-height);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--containers-z);
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.container.active {
    display: block;
}

.page {
    width: 100%;
    height: 100%;
    /* overflow: ; */
}



/**********************************************************
    CONTAINERS
**********************************************************/

.container_header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: var(--container-header-height);
    background-color: var(--container-header-bg);
}

.container_body {
    position: absolute;
    top: var(--container-header-height);
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--container-body-bg-color);
}

.container_footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: var(--container-header-height);
    background-color: var(--container-header-bg);
}

.hr_pad {
    padding: 0.5rem;
}

.hr_mb {
    margin-bottom: 0.5rem;
}
