:root {

    --main-font-color: #ffffff;

    --font-huge: 1.5rem;
    --font-large: 1.25rem;
    --font-medium: 1rem;
    --font-small: 0.85rem;

    --hover-color: rgba(100, 149, 237, 0.5);
    --active-color: rgba(100, 149, 237, 1);

    --info-even: rgba(100, 149, 237, 0.2);
    --info-odd: rgba(100, 149, 237, 0.4);

    --main-bg-color: #222;
    --standard-padding: 1.5rem;
    --section-bg-color: #333;
    --section-text-color: rgba(255,255,255,0.8);
    --side-section-width: 35rem;
    --section-title-height: 2rem;

    --faded-text-color: rgba(255,255,255,0.5);

    --checkbox-height: 1.5rem;

    --selected-bg-color: rgba(100, 149, 237, 0.3);
    --hover-bg-color: rgba(100, 149, 237, 0.5);
    --active-bg-color: rgba(100, 149, 237, 1);

    /* Inputs  */
    --input-height: 2rem;
    --button-bg-color: #333;
    --button-hover-color: rgba(100, 149, 237, 0.5);
    --button-active-color: rgba(100, 149, 237, 1);
    --button-standard-height: 2rem;

    /* Modal */
    --modal-header-height: 3rem;

    /* Main header */
    --main-header-height: 3rem;
    --main-header-bg-color: #111111;
    --main-header-font-color: #FFFFFF;

    /* Container header */
    --container-header-height: 6rem;
    --container-header-bg: #444444;

    /* Container body */
    --container-body-bg-color: #666666;

    /* Important Z-Index orderings */
    --toast-z: 60;
    --main-header-z: 40;
    --containers-z: 20;

    /* Map header */
    --help-box-z: 15;
    --text-block-container-z: 15;
    --map-controls-height: 3rem;
    --map-tabs-height: 3rem;

    /* Map containers contents */
    --image-canvas-z: 1;
    --spell-canvas-z: 2;
    --grid-canvas-z: 3;
    --shroud-canvas-z: 4;
    --shadow-canvas-z: 5;
    --lights-canvas-z: 6;
    --wall-canvas-z: 7;
    --control-canvas-z: 8;
    --text-block-marker-z: 9;

    --help-z: 12;
}
