#previous_section {
    top: calc(50% + (var(--standard-padding) / 2));
    width: var(--side-section-width);
    bottom: var(--standard-padding);
    right: var(--standard-padding);
}

#clear_previous {
    position: absolute;
    font-size: 1rem;
    top: 0;
    bottom: 0;
    right: 0;
    line-height: calc(var(--section-title-height) * 0.75);
    color: var(--faded-text-color);
    cursor: pointer;
}

#clear_previous:hover {
    color: white;
}

#clear_previous:active {
    color: black;
}
