#map_list_modal_wrap {
  position: fixed;
  top: 9rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-el-0);
  z-index: 200;
}

#map_list_modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-main);
  color: white;
  overflow: hidden;
  z-index: 1000;
}

.modal_header {
  height: var(--modal-header-height);
  line-height: var(--modal-header-height);
  font-size: 1rem;
  background-color: var(--color-el-1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 8rem;
  grid-template-rows: 1fr;
  grid-template-areas: "search close";
}

.map_search_input {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  outline: 0;
  grid-area: search;
  padding: 0 0 0 1rem;
  border: 0;
  background-color: rgba(0,0,0,0.3);
  color: rgba(255, 255, 255, 0.5);
  font-size: var(--font-huge);
  height: var(--modal-header-height);
  line-height: var(--modal-header-height);
  font-style: italic;
}

.modal_close {
  grid-area: close;
  height: var(--modal-header-height);
  cursor: pointer;
  text-align: center;
  line-height: var(--modal-header-height);
  color: white;
  background-color: var(--color-button-bg);

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

#map_list_modal_body {
  background-color: var(--color-el-1);
  position: absolute;
  top: var(--modal-header-height);
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

#map_list_modal_body_preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  bottom: 0;
  overflow: scroll;
  background-color: var(--color-el-0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  & video {
    width: 100%;
    height: 100%;
  }
}

.map_list_container {
  position: absolute;
  top: 0;
  left: 60%;
  right: 0;
  bottom: 0;
  background-color: var(--color-el-1);
}

#map_list_modal_body_list {
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
}

.map_list_section_title {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 1.25rem;
  padding: 0.5rem;
  background-color: var(--color-el-2);
  text-transform: capitalize;
  cursor: pointer;
  margin-bottom: 0.25rem;
}

.map_list_section_container {
  padding-left: 1.25rem;
}

.map_list_map {
  font-size: var(--font-medium);
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 2rem;
  padding: 1rem 2rem 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 1rem 0;

  & > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .indicator {
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    opacity: 0.2;
    margin-right: 0.5rem;
  }
  & .indicator.lit_up {
    opacity: 0.75;
  }

  & .name {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
  }

  & .variants {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
  }

  & .variant {
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.25rem;
    margin: 0.25rem;
    cursor: pointer;
    padding: 0 0.5rem;
  }
}
