#map_list_modal_wrap {
  position: fixed;
  top: 9rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-el-0);
  z-index: 200;

   > .container {
    position: absolute;
    top: 0;
    left: 70%;
    right: 0;
    bottom: 0;
    background-color: var(--color-el-1);

    > .header {
      height: var(--modal-header-height);
      line-height: var(--modal-header-height);
      font-size: 1rem;
      background-color: var(--color-el-1);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 8rem;
      grid-template-rows: 1fr;
      grid-template-areas: "search close";

      .search_input {
        box-sizing: border-box;
        margin: 0;
        width: 100%;
        outline: 0;
        grid-area: search;
        padding: 0 0 0 1rem;
        border: 0;
        background-color: rgba(0,0,0,0.3);
        color: rgba(255, 255, 255, 0.5);
        font-size: var(--font-huge);
        height: var(--modal-header-height);
        line-height: var(--modal-header-height);
        font-style: italic;
      }

      .close {
        grid-area: close;
        height: var(--modal-header-height);
        cursor: pointer;
        text-align: center;
        line-height: var(--modal-header-height);
        color: white;
        background-color: var(--color-button-bg);

        &:hover {
          background-color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}

#map_list_modal_body {
  background-color: var(--color-el-1);
  position: absolute;
  top: var(--modal-header-height);
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

#map_preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  bottom: 0;
  overflow: scroll;
  background-color: var(--color-el-0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  > video {
    width: 100%;
    height: 100%;
  }
}

#map_list_modal_body_list {
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
}

.map_list_section {
  > .header {
    height: 1.25rem;
    line-height: 1.25rem;
    padding: 0.3rem 0.5rem;
    background-color: var(--color-el-2);
    text-transform: capitalize;
    cursor: pointer;
    margin-bottom: 0.25rem;
  }

  > .content {
    padding-left: 1.25rem;
  }
}

.map {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: var(--font-medium);
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 2rem;

  &:hover {
    background-color: #666;
  }

  .name_wrapper {
    cursor: pointer;

    .indicator {
      position: relative;
      height: 1.5rem;
      width: 1.25rem;
      display: inline-block;
      vertical-align: top;
      box-sizing: border-box;
      text-align: center;
      font-weight: bold;
      opacity: 0.2;

      &.lit_up {
        opacity: 1;
      }
    }

    .name {
      padding-left: 0.5rem;
    }
  }
}

