#map_controls_container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20rem;
    background-color: gray;
    z-index: 20;
    padding: 0.5rem;
}

#map_controls_container .button {
    margin: 0;
    margin-bottom: 0.5rem;
    width: 100%;
    text-align: center;
}

#show_player_screen {
    width: 100%;
    /* margin-bottom: 1.5rem !important; */
}

#show_entire_map {
    margin-bottom: 0 !important;
}

.map_control_section {
    margin-bottom: 2rem;
}

#grid_size_container {
    margin-bottom: 1rem;
    /* display: inline-block; */
    /* vertical-align: top; */
}

#grid_info {
    float: right;
    /* display: inline-block; */
    height: 2rem;
    line-height: 2rem;
    /* vertical-align: top; */
    margin-left: 1rem;
    font-size: 1.25rem;
}


.hotkey_section {
    margin-bottom: 1rem;
}
.hotkey_key {
    font-weight: bold;
    /* font-size: var(--font-large); */
    margin-right: 0.5rem;
}
.hotkey_desc {
    font-size: var(--font-medium);
}