/**********************************************************
    BUTTON
**********************************************************/
.button {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin: 0.5rem 0 0 0.5rem;
    padding: 0 calc(var(--button-standard-height) / 2);
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    height: var(--button-standard-height);
    line-height: var(--button-standard-height);
    color: #EEE;
    font-size: var(--font-small);
    background-color: var(--button-bg-color);
}

.button:hover {
    background-color: var(--button-hover-color);
}

.button:active {
    background-color: var(--button-active-color);
}

.button_spacer {
    display: inline-block;
    box-sizing: border-box;
    width: 1px;
    height: var(--button-standard-height);
    background-color: white;
    margin: 0.5rem 1rem;
    opacity: 0.5;
}



/**********************************************************
    CHECKBOX
**********************************************************/

.checkbox_container {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: var(--checkbox-height);
    font-size: var(--font-medium);
    line-height:  var(--checkbox-height);
}

.checkbox {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: var(--checkbox-height);
    width:  var(--checkbox-height);
    color: white;
    box-sizing: border-box;
    border: 1px solid #EEE;
    cursor: pointer;
    font-size: var(--font-large);
    line-height:  var(--checkbox-height);
    text-align: center;
}

.checkbox:hover {
    background-color: #666;
}

.checkbox:active {
    background-color: #EEE;
    color: #444;
}

.checkbox_label {
    display: inline-block;
    vertical-align: top;
    height: var(--checkbox-height);;
    line-height: var(--checkbox-height);
    margin-left: 0.5rem;
    color: #EEE;
}

.checkbox.checked:before {
    content: "";
    height: 0.5rem;
    width: 0.5rem;
    background-color: #EEEEEE;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}



/**********************************************************
    RADIO
**********************************************************/

.radio {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 1rem;
    width: 1rem;
    box-sizing: border-box;
    border: 1px solid #EEE;
    cursor: pointer;
}

.radio {
    border-radius: 50%;
}

.radio:hover {
    background-color: #666;
}

.radio:active {
    background-color: #EEE;
    color: #444;
}

.radio_label {
    display: inline-block;
    vertical-align: top;
    height: 2rem;
    line-height: 2rem;
    margin-left: 0.2rem;
    color: #EEE;
}

.radio.checked:before {
    content: "";
    height: 0.5rem;
    width: 0.5rem;
    background-color: #EEE;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
}



/**********************************************************
    TEXT INPUT
**********************************************************/

.text_input {
    margin: 0.5rem 0 0 0.5rem;
    height: var(--input-height);
    padding: 0 0 0 0.5rem;
    border: 0;
    background-color: rgba(0,0,0,0.3);
    color: white;
    box-sizing: border-box;
    font-size: var(--font-medium);
}