
/**********************************************************
    MAP TABS
**********************************************************/

#map_tabs {
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    height: 2rem;
    background-color: #444;
    z-index: 20;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

.map_tab {
    position: relative;
    color: #EEE;
    height: 1.6rem;
    line-height: 1.6rem;
    padding: 0 2rem 0 1rem;
    border: 1px solid #EEE;
    box-sizing: border-box;
    border-bottom: 0;
    margin-top: 0.4rem;
    display: inline-block;
    cursor: pointer;
}
.map_tab.selected {
    background-color: #666;
    height: 1.8rem;
    line-height: 1.8rem;
    margin-top: 0.2rem;
}
.map_tab:hover {
    background-color: #666;
}
.map_tab:Active {
    background-color: #eee;
    color: #444
}


.map_tab_close {
    height: 1.6rem;
    width: 1.6rem;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}
.map_tab_close:before {
    content: '\00d7';
    color: rgba(255, 255, 255, 0.3);
    font-size: 1.5rem;
}
.map_tab_close:hover:before {
    color: red;
}


/**********************************************************
    CANVASES
**********************************************************/

#map_container {
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s top ease;
    background-color: #666;
    overflow: scroll;
}
#map_container.display {
    top: 0;
}

.canvas_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
}

.map_canvas {
    transform: translateZ(0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.image_canvas {
    z-index: 1;
}
.shadow_canvas {
    z-index: 2;
}
.light_canvas {
    z-index: 3;
}
.lights_canvas {
    z-index: 4;
}
.wall_canvas {
    z-index: 5;
}
.control_canvas {
    z-index: 6;
    cursor: crosshair;
}



/**********************************************************
    NO MAP SCREEN
**********************************************************/

#no_map_screen {
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s top ease;
    overflow: scroll;
    z-index: 9;
    background-color: #666;
}

#no_map_screen_load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 3rem;
    border: 0.4rem dashed #EEE;
    color: #EEE;
    font-size: 3rem;
    font-style: italic;
    padding: 3rem;
    cursor: pointer;
    text-align: center;
}
#no_map_screen_load:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
