/**********************************************************
    TABS
**********************************************************/

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--main-header-height);
    z-index: var(--main-header-z);
    color: var(--main-header-font-color);
    background-color: var(--main-header-bg-color);
}

#tabs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.tab {
    float: left;
    height: var(--main-header-height);
    line-height: var(--main-header-height);
    box-sizing: border-box;
    padding: 0 2rem;
    opacity: 0.3;
    font-size: var(--font-large);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.tab.active {
    background-color: var(--container-header-bg);
    opacity: 1;
}



/**********************************************************
    CONTAINERS
**********************************************************/

#containers {
    position: absolute;
    top: var(--main-header-height);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--containers-z);
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.container.active {
    display: block;
}



/**********************************************************
    CONTAINERS
**********************************************************/

.container_header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: var(--container-header-height);
    background-color: var(--container-header-bg);
}

.container_body {
    position: absolute;
    top: var(--container-header-height);
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--container-body-bg-color);
}

.container_footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: var(--container-header-height);
    background-color: var(--container-header-bg);
}



/**********************************************************
    HELP SCREEN
**********************************************************/

.help_screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s top ease;
    overflow: scroll;
    z-index: var(--help-z);
    background-color: #666;
}

.help_screen_action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 3rem;
    border: 0.4rem dashed #EEE;
    color: #EEE;
    padding: 3rem;
    cursor: pointer;
    text-align: center;
}

.help_screen_action:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.help_screen_main_text {
    font-size: 3rem;
    font-style: italic;
}

.help_screen_support_text {
    margin-top: 2rem;
    font-size: 2rem;
    font-style: italic;
}