.info_buttons {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 39rem;
  background-color: var(--color-el-1);

  .info_button {
    width: 18rem;
    margin: 1rem 0 0 1rem;

    &:hover {
      background-color: var(--hover-color);
    }
  }
}

.info_click_amount {
  margin: 0.5rem 0 0 0.5rem;
}

.info_results {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 39rem;
  overflow-y: scroll;
  color: #222;

  --info-even: rgba(100, 149, 237, 0.2);
  --info-odd: rgba(100, 149, 237, 0.4);

  .result {
    color: white;
    cursor: pointer;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;

    &.marked {
      background-color: var(--info-odd);

      &:nth-child(even) {
        background-color: var(--info-even);
      }
    }

    &:nth-child(even) {
      background-color: rgba(0,0,0,0.075);
    }

    .key {
      float: left;
      width: 20%;
    }

    .value {
      float: right;
      width: 78%;
    }
  }
}

