#audio_player {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  height: 6rem;

  #play_pause {
    left: var(--standard-padding);
    bottom: calc(var(--standard-padding) * 2);
  }

  #volume {
    margin: 0.5rem 1rem 0 1rem;
    float: right;
  }

  .progress {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 3rem;
    box-sizing: border-box;
    cursor: pointer;
    color: rgba(255,255,255,0.9);
    border-top: 2px solid rgba(255,255,255,0.5);

    #progress_played {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 0%;
      background-color: var(--hover-color);
      z-index: 6;
    }

    #progress_time,
    #progress_duration {
      position: absolute;
      height: 3rem;
      line-height: 3rem;
      top: 0;
      z-index: 7;
    }
    #progress_time {
      left: 1rem;
    }
    #progress_duration {
      right: 1rem;
    }

    #progress_now_playing {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: center;
      opacity: 0.5;
      line-height: 3rem;
      z-index: 7;
    }
  }
}
