html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px;
    color: rgba(255,255,255,0.9);
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgba(60,60,65,1);
}

.spacer {
    height: 1rem;
}

.note {
    color: rgba(255, 90, 90, 1);
    font-weight: bold;
    padding-bottom: 0.5rem;
}

header {
    background-color: rgba(150,150,150,0.8);
    padding: 1rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 5px 10px 0px #333;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 2px #333;
}

footer {
    background-color: rgba(150,150,150,0.8);
    padding: 1rem;
}

header span {
    display: inline-block;
}

.superscript {
    position: absolute;
    font-size: 1rem;
    padding-left: 0.75rem;
    opacity: 0.75;
    transform: translateY(30%);
}

.section_header {
    background-color: rgba(200,200,220,0.25);
    padding: 1rem;
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 1rem;
    word-break: break-word;
    box-shadow: 0 5px 10px 0px #333;
    text-shadow: 2px 2px 2px #333;
}

.section_body {
    padding: 0 10% 3rem 10%;
}

.section_images {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    padding-top: 2rem;
    box-sizing: border-box;
}

.section_image {
    width: 100%;
    cursor: zoom-in;
}

ul {
    list-style: square;
    margin-bottom: 0;
    background-color: rgba(255,255,255,0.1);
    padding: 1rem 1rem 1rem 3rem;
    border-radius: 0.5rem;
}
li {
    margin: 0.35rem 0;
}
a {
    color: rgba(160,180,255,1);
    font-weight: bold;
    text-decoration: none;
}

#image_modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.80);
}

#image_modal > div {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: zoom-out;
}

.hidden {
    display: none !important;
}

.modal_close {
    position: absolute;
    right: 0;
    top: 0;
    width: var(--modal-header-height);
    height: var(--modal-header-height);
    cursor: pointer;
    text-align: center;
    line-height: var(--modal-header-height);
    color: white;
}

.modal_close:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.modal_close:before {
    font-size: 1.5rem;
    content: '\00d7';
}
