:root {
    --body-bg: rgba(60,60,65,1);
    --header-bg: rgba(230,230,250,0.3);
    --section-header-bg: rgba(230,230,250,0.2);
    --ul-bg: rgba(230,230,250,0.1);

    --font-color: rgba(255,255,255,0.9);
    --link-color: rgba(160,180,255,1);

    --font-small: 0.85rem;
    --font-medium: 1rem;
    --font-large: 1.75rem;
    --font-huge: 2.5rem;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    color: var(--font-color);
    background-color: var(--body-bg);
}

header {
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
    font-size: var(--font-huge);
    text-shadow: 2px 2px 2px #333;
    box-shadow: 0 5px 10px 0px #333;
    background-color: var(--header-bg);
}

header span {
    display: inline-block;
}

.section_header {
    padding: 1rem;
    font-size: var(--font-large);
    text-align: center;
    margin-bottom: 1rem;
    word-break: break-word;
    text-shadow: 2px 2px 2px #333;
    box-shadow: 0 5px 10px 0px #333;
    background-color: var(--section-header-bg);
}

.section_body {
    padding: 0 10% 3rem 10%;
}

.section_images {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    padding-top: 2rem;
    box-sizing: border-box;
}

.section_image {
    width: 100%;
    cursor: zoom-in;
}

footer {
    background-color: var(--header-bg);
    padding: 1rem;
}



/**********************************************************
    IMAGE MODAL
**********************************************************/

#image_modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 2rem;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.80);
}

#image_modal > div {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: zoom-out;
}



/**********************************************************
    GENERIC/UTILITY STYLINGS
**********************************************************/

.hidden {
    display: none !important;
}

.superscript {
    position: absolute;
    font-size: var(--font-medium);
    padding-left: 0.75rem;
    opacity: 0.75;
    transform: translateY(30%);
}

.spacer {
    height: 1rem;
}

.note {
    color: rgba(255, 90, 90, 1);
    font-weight: bold;
    padding-bottom: 0.5rem;
}

ul {
    list-style: square;
    margin-bottom: 0;
    padding: 1rem 1rem 1rem 3rem;
    border-radius: 0.5rem;
    background-color: var(--ul-bg);
}

li {
    margin: 0.35rem 0;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--link-color);
    text-shadow: 2px 2px 2px #222;
}
